/******************************* 
General
*****************************/
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f6f6;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
*:focus{
  outline: none;
}
h1{
  color: #d4d7dd;
}
h2,h3{
  text-align: center;
  padding: 20px 0;
}
button, input[type=submit]{
  padding: 7px;
  font-family: 'Raleway', 'sans-serif';
  cursor: pointer;
  background-color: #eae9e9;
  color: #420000;
  font-weight: 800;
}
input, select{
  font-family: 'Raleway', 'sans-serif';
}
.banner{
  background-image: linear-gradient(#d4d7dd, #f6f6f6);
  margin: 0;
}
.banner h2{
  margin: 0;
}
.flexbox{
  display: flex;
  justify-content: center;
}
.flexbox *{
  margin: 0 10px;
}
/* *********************************
Nav 
**********************************/
.outer-container{
  position: relative;
}
.spacer{
  width:100%;
  height: 75px;
  background-color: #d4d7dd;
}
.nav-container{
  display: flex;
  justify-content: space-between;
  background-color: #420000;
  align-items: center;
  height: 75px;
  padding: 0 2%;
  position: fixed;
  width: 96vw;
  z-index: 5;
}
.nav-tab{
  display: flex;
}
.loggout-btn{
  color: #420000;
  background: #eae9e9;
  width: 75px;
  font-weight: 800;
}
.nav-links{
  display: flex;
  margin-left: -30px;
}
.nav-links li{
  list-style: none;
}
.nav-links li button{
  background: none;
  color: #eae9e9;
}
.nav-links-hidden{
  display: none;
  position: fixed;
  z-index: 5;
  width: 100%;
  top:59px;
  flex-direction: column;
  padding: 0;
}
.full-screen{
  width: 200px;
  right: 0;
  
}
.full-screen li:last-child{
  border-radius: 0 0 0 10px;
}

.nav-links-hidden li{
  list-style: none;
  background: rgba(66,0,0,.8);
}
.nav-links-hidden li button:hover{
  background: rgba(255,255,255,.2);
}
.nav-links-hidden li button{
  background: none;
  color: #eae9e9;
  width: 100%;
  text-align: right;
  border: 0px;
}

.in-list-hr{
  margin: 0;
}

#user-li{
  color: #eae9e9;
  width: 100%;
  text-align: right;
  border: 0px;
  border-bottom: .5px solid black;
  background-color: rgba(0,0,0,.7);
}

.logo{
  height: 60px;
  width: 60px;
  cursor: pointer;
}

/* .image-container{
  background: #eae9e9;
  width: 50px;
  height: 50px;
} */

.nav-filler{
  width: 200px;
}

.stage-class1{
  color: #D3B1C2;
}
.stage-class2{
  color: #E49830;
}
.stage-class3{
  color: #B50000;
}
.stage-class4{
  color: #9BB2C5;
}
.stage-class5{
  color: #A1A540;
}
/* ******************************
Index Page
*********************************/
.index-holder{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.index-display{
  background-color: #eae9e9;
  width:500px;
  height: 260px;
  margin-top: 1em;
  padding: .5em;
  cursor: pointer;
  box-shadow: 7px 7px 2px 1px rgba(70, 70, 70, .5);
  position: relative;
  transition: all .5s ease-in-out;
}
.index-display:hover{
  transform: translate(-10px, -10px);
  box-shadow: 15px 15px 2px 1px rgba(70, 70, 70, .5);
}
.index-display::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background: transparent;
  border: 3px solid transparent;
  border-radius: 5px;
  transition: all .2 ease-in-out;
}
.index-display::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background: transparent;
  border: 3px solid transparent;
  border-radius: 5px;
  transition: all .2 ease-in-out;
}
.index-display:hover::before{
  animation: border .5s linear forwards;
}
.index-display:hover::after{
  animation: border2 .5s linear forwards;
}

@keyframes border{
  0%{
    width: 0;
    height: 0;
    border-top-color: #420000;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50%{
    width: 100%;
    height: 0;
    border-top-color: #420000;
    border-right-color: #420000;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100%{
    width: 100%;
    height: 100%;
    border-top-color: #420000;
    border-right-color: #420000;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}
@keyframes border2{
  0%{
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #420000;
  }
  50%{
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color:#420000;
    border-left-color: #420000;
  }
  100%{
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #420000;
    border-left-color: #420000;
  }
}

/* *********************************
Show Page
********************************* */
.show-display{
  background-color: #eae9e9;
  width: 40%;
  margin: 10px auto;
}
.show-display ul{
  list-style: none;
}
.show-display ul li{
  margin: 10px 0;
  border-bottom: #420000 1px solid;
  width: 95%;
}
.show-display ul li strong{
  margin-right: 10px;
}

/* *********************************
Forms (New/Update)
********************************* */
.form-style{
  border: 3px solid #420000;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  width:70%;
  margin: 10px auto;
  
}
.form-style *{
  margin: 5px 0;
}

.cancle-btn, .form-style input[type=submit]{
  display: block;
  margin: 0 auto;
}
.form-style span label{
  display: inline-block;
  width: 200px;
  padding: 5px;
}
.form-style span input[type=text], .form-style span input[type=password], .form-style span select{
  width: 400px;
  height: 30px;
  margin-right: 20px;
}
.fa-eye{
  cursor: pointer;
}
@media(max-width: 600px){
  .form-style span input[type=text], .form-style span input[type=password], .form-style span select, .form-style span textarea{
    width: 320px;
  }

}
/* *********************************
Login Form
********************************* */
.login{
  width: 40%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}
.login input{
  width: 40%;
  height: 30px;
  margin: 0 5px;
} 
.login-form input[type=submit]{
  display: block;
  margin: 0 auto;
  width: 100px;
  border-radius: 5px;
}
.wrong-login{
  text-align: center;
  color: #810c0c;
}
/* *********************************
User Page
**********************************/
.users-container{
  display: flex;
}
.users{
  /* border: #420000 3px solid; */
  width: 200px;
  padding: 10px;
}
.users ul li{
  list-style: none;
  padding-bottom: 2px;
  cursor: pointer;
}
.users ul li:hover{
  text-decoration: underline;
}
.new-user-container{
  flex-grow: 2;
}
@media(max-width: 785px){
  .new-user-container .form-style span input[type=text], .new-user-container .form-style span input[type=password], .new-user-container .form-style span select, .new-user-container .form-style span textarea{
    width: 350px;
  }
}
@media(max-width: 705px){
  .new-user-container .form-style span input[type=text], .new-user-container .form-style span input[type=password], .new-user-container .form-style span select, .new-user-container .form-style span textarea{
    width: 300px;
  }
}
@media(max-width: 622px){
  .new-user-container .form-style span input[type=text], .new-user-container .form-style span input[type=password], .new-user-container .form-style span select, .new-user-container .form-style span textarea{
    width: 250px;
  }
}
@media(max-width: 538px){
  .new-user-container .form-style span input[type=text], .new-user-container .form-style span input[type=password], .new-user-container .form-style span select, .new-user-container .form-style span textarea{
    width: 200px;
  }
}

/* *********************************
New Jobs Page
**********************************/
.link-options-container{
  width:80%;
  height: 100px;
  background-color: rgba(20,66,77,.5);
  position: fixed;
  top: 30%;
  left: 50%;
}